# -----------------------------------------------------------------------------
# App
# -----------------------------------------------------------------------------
NEXT_PUBLIC_APP_URL=http://localhost:3000

# -----------------------------------------------------------------------------
# Piper Backend
# -----------------------------------------------------------------------------
PIPER_BACKEND_BASE_URL=
